@font-face {
  font-weight: 300;
  font-family: Gambetta;
  font-display: swap;
  src: url("/fonts/Gambetta-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Gambetta;
  font-display: swap;
  src: url("/fonts/Gambetta-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Gambetta;
  font-display: swap;
  src: url("/fonts/Gambetta-Medium.ttf");
}
