@import "mixins";
@import "fonts";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

.root{
  padding: 0 0 132px;
}

button {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 12px 24px;
  font: var(--font-button-l);
  white-space: nowrap;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
}

html {
  font-size: calc(100vw / 1440 * 10);

  @media (width <= 767px) {
    font-size: calc(100vw / 360 * 10);
  }
}

body {
  height: 100%;
  font-family: var(--font-family-primary);
  background-color: var(--black);
}

h1 {
  font: var(--font-h1);
}

h2 {
  font: var(--font-h2);
}

h3 {
  font: var(--font-h3);
}

h4 {
  font: var(--font-h4);
}

h5 {
  font: var(--font-h5);
}

h6 {
  font: var(--font-h6);
}

p {
  font: var(--font-l);
}
