@import "fonts";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

body {
  height: 100%;
  font-family: var(--font-family-primary);
}

h1 {
  font: var(--font-h1);
}

h2 {
  font: var(--font-h2);
}

h3 {
  font: var(--font-h3);
}

h4 {
  font: var(--font-h4);
}

h5 {
  font: var(--font-h5);
}

h6 {
  font: var(--font-h6);
}

p {
  font: var(--font-l);
}

@media (width <= 500px) {
  html {
    font-size: 8px;
  }
 
  h1 {
    font: var(--font-h1-mob);
  }
  
  h2 {
    font: var(--font-h2-mob);
  }
  
  h3 {
    font: var(--font-h3-mob);
  }
  
  h4 {
    font: var(--font-h4-mob);
  }
  
  h5 {
    font: var(--font-h5-mob);
  }
  
  h6 {
    font: var(--font-h6-mob);
  }
}