$primary-color: #266ef9;
$white: #fff;
$gray-300: #ecedf2;
$gray-400: #e5e9eb;
$gray-500: #d4dadd;
$gray-600: #c2cacf;
$gray-700: #9aa6af;
$gray-800: #6d7378;
$black: #24282c;
$error: #ff5c5c;
$success: #21d184;
$link: #3870ff;