@import "./src/app/styles/variables";

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 150px 6.4rem 4.8rem;
  background-color: $black;

  .top {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 0 0 3.2rem;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 9.6rem;
      color: $gray-700;
      font: $font-h6;
      transform: rotate(90deg);
      content: 'welcome';
    }
  }
  
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.2rem 0;
    border-top: 1px solid rgb(255 255 255 / 10%);

    p {
      width: 40%;
      color: $gray-500;
      font: $font-l;
    }
  }

  h1 {
    width: fit-content;
    max-width: 500px;
    color: $white;
  }
}


@media (width <= $breakpoint-mob) {
  #intro {
    padding: 150px 2.4rem 2.4rem;

    .top {
      justify-content: start;
    }

    .bottom {
      flex-direction: column-reverse;
      gap: 2.4rem;
      padding: 2.4rem 0;

      p {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}