.FAQSection{
  display: flex;
  padding: 16.4em 6.4rem;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;

  p {
    padding-top: 2.4rem;
    color: var(--gray-800);
  }
}

.photoContainer {
  align-self: center;
  min-width: 192px;
  min-height: 219px;
  margin-top: 10.25rem;


  &::after {
    position: absolute;
    top: -0.5rem;
    right: -8rem;
    display: block;
    color: var(--gray-700);
    font: var(--font-h6);
    transform: rotate(90deg);
    transform-origin: left;
    content: 'support';
  }
}

@media (width <= 768px) {
  .FAQSection{
    padding: 8rem 2.4rem;
  }

  .left {
    width: 100%;

    .photoContainer{ 
      display: none;
    }
  }
}