@import "../../../../app/styles/variables";

.FAQSection{
  display: flex;
  padding: 164em 64rem;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;

  p {
    padding-top: 24rem;
    color: $gray-800;
  }
}

.photoContainer {
  align-self: center;
  min-width: 192px;
  min-height: 219px;
  margin-top: 102.5rem;


  &::after {
    position: absolute;
    top: -5rem;
    right: -80rem;
    display: block;
    color: $gray-700;
    font: $font-h6;
    transform: rotate(90deg);
    transform-origin: left;
    content: 'support';
  }
}

@media (width <= $breakpoint-mob) {
  .FAQSection{
    padding: 80rem 24rem;
  }

  .left {
    width: 100%;

    .photoContainer{ 
      display: none;
    }
  }
}