@import "./src/app/styles/variables";

.Header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 3.2rem 0;
  background: transparent;
  transition: padding .3s ease-out;

  a{
    white-space: nowrap;
  } 

  .logo {
    fill: $white;
  }

  &__content{
    display: flex;
    gap: 3.6rem;
    align-items: center;
    justify-content: space-between;
  }
}

.desktopLayout {
  display: flex;
  flex-grow: 0.5;
  gap: 3.6rem;
  align-items: center;
  justify-content: space-between;
}

.mobileLayout {
  position: relative;
  display: none;
}

.navigation{
  display: flex;
  gap: 3.6rem;
  font: $font-button-m;
}

.dark {
  color: $white;

  a {
    color: $white;
  }

  .logo {
    fill: $white;
  }
  
}

.light {
  color: $black;

  a{
    color: $black;
  }

  .logo {
    fill: $black;
  }
}

.scrolled {
  height: auto;
  padding: 1.2rem 0;
  color: $black;
  background-color: $white;

  a{ 
    color: $black;
  }

  .logo {
    fill: $black;
  }
}

@media (width <= $breakpoint-tablet) {
  .desktopLayout {
    display: none;
  }

  .mobileLayout {
    display: block;
  }
}