@import '@/app/styles/variables/breackpoints';

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 32rem 0;
  transition: 0.3s ease-out;

  .logo{
    transition: fill 0.3s ease-in-out;
  }

  &.dark {
    color: var(--white);

    .navigation {
      &__content{
        &_link {
          color: var(--white);
        }
      }
    }

    .logo {
      fill: var(--white);
    }
  }

  &.light {
    color: var(--black);

    .navigation {
      &__content{
        &_link {
          color: var(--black);
        }
      }
    }

    .logo {
      fill: var(--black);
    }
  }

  &.scrolled{
    padding: 12rem 0;
    background-color: var(--white);
  }

  &.opened{
    background-color: var(--black);
  }

  &__content {
    display: flex;
    gap: 36rem;
    align-items: center;
    justify-content: space-between;

    &_desktop {
      .navigation {
        position: relative;
        display: flex;
        flex-grow: 0.5;
        gap: 36rem;
        align-items: center;
        justify-content: space-between;

        &__content{
          display: flex;
          gap: 36rem;
          font: var(--font-button-m);

          &_link{
            text-transform: uppercase;
          }
        }
      }

      &.mobile{
        display: block;
        flex-grow: initial;
        align-self: flex-start;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        background-color: var(--black);

        .navigation{
          flex-direction: column;
          align-items: initial;
          padding: 140rem 56rem;
          

          &__content{
            flex-direction: column;
            gap: 32rem;
            margin: 0 0 64rem;

            &_link{
              color: var(--white);
              font: var(--font-h4);
              text-transform: initial;
            }
          }
        }
      }
    }

    &_mobile {
      position: relative;
      display: none;
    }

    &_link {
      .logo {
        fill: var(--white);
      }
    }
  }
}

@media (width <= $breakpoint-tablet) {
  .header {
    &__content {
      &_desktop {
        display: none;
      }

      &_mobile {
        display: block;
      }
    }
  }
}

@media (width <= $breakpoint-mob) {
  .header {
    &__content {
      &_desktop {
        &.mobile{
          .navigation{
            padding: 120rem 56rem;

            &__content{
              align-items: center;

            }
          }
        }
      }
    }
  }
}