@import "@/app/styles/variables/breackpoints";

.becomeADistributorContent {
  padding-top: 100rem;

  &__content {
    padding: 164rem 0;

    &__body {

    }

    &__form {

    }
  }
}

@media (max-width: $breakpoint-mob) {
  .becomeADistributorContent {
    padding-top: 154rem;

    &__content {
      padding: 80rem 0;
    }
  }
}