.form{
	position: relative;
	padding: 30rem 0;
	
		&__thumbs{
			display: flex;
			flex-wrap: wrap;
			gap: 20rem;
			
				&_item{
					width: calc(33.33% - 20rem);
					height: 200rem;
					background-color: transparent;
					
						img{
							object-fit: contain;
						}
				}
		}
	
		&__uploader{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 30rem 0;
			padding: 30rem 20rem;
			background-color: var(--gray-300);
			border-radius: 5px;
			cursor: pointer;

				&::before{
					position: absolute;
					border: 1px var(--gray-600) dashed;
					border-radius: 4px;
					content: '';
					inset: 10rem;
				}
			
				&_title{
					font-size: 12rem;
				}
		}
}