@import "../../../../app/styles/variables";

.burger {
  position: relative;
  z-index: 2;
  width: 32rem;
  height: 16rem;

  span {
    position: absolute;
    right: 3rem;
    width: calc(100% - 6rem);
    height: 3rem;
    background-color: $white;
    border-radius: 7px;
    transition: 500ms;

    &:nth-child(1) {
      top: 0;
      z-index: 2;
    }

    &:nth-child(2) {
      top: 50%;
      z-index: 2;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
      width: 60%;
      background-color: $primary-color;
    }
  }

  &.opened {
    span{
      &:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
      }

      &:nth-child(3) {
        left: -10px;
        opacity: 0;
      }

      &:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
      }
    }
  }
}

.dark {
  span {
    background: $white;
  }
}

.light {
  span {
    background: $black;
  }
}

.scrolled {
  span {
    background: $black;
  }
}