@import "./src/app/styles/variables";

.Burger {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  cursor: pointer;

  span {
    display: block;
    height: 3rem;
    margin-top: 5rem;
    background: $white;
    border-radius: 100px;
    transition: 0.2s ease;
  }

  span:nth-of-type(1) {
    width: 100%;
  }

  span:nth-of-type(2) {
    width: 100%;
  }

  span:nth-of-type(3) {
    align-self: end;
    width: 75%;
    background: $primary-color;
  }

  &.opened {
    span:nth-of-type(1) {
      width: 50%;
      transform: rotateZ(45deg) translate(15%);
      transform-origin: bottom;
    }

    span:nth-of-type(2) {
      transform: rotateZ(-45deg);
      transform-origin: top;
    }

    span:nth-of-type(3) {
      width: 50%;
      background: $white;
      transform: rotateZ(45deg) translate(-15%, -100%);
      transform-origin: top;
    }
  }
}

.dark {
  span {
    background: $white;
  }
}

.light {
  span {
    background: $black;
  }
}

.scrolled {
  span {
    background: $black;
  }
}