.ExploreDesignsSection {
  display: flex;
  align-items: center;
  height: 700px;
  padding: 0 14.4rem;
  background-color: var(--gray-300);

  .left {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 4rem 0 3.2rem;
  }

  p {
    color: var(--gray-800);
  }
}

@media (width <= 768px) {
  .ExploreDesignsSection {
    padding: 0 2.4rem;

    .left {
      width: 100%;
    }

    h2{
      width: 70%;
    }
  }
}