@import '@/app/styles/variables/breackpoints';

.ExploreDesignsSection {
  display: flex;
  align-items: center;
  height: 700px;
  padding: 0 144rem;
  background-color: var(--gray-300);

  .left {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    padding: 40rem 0 32rem;
  }

  p {
    color: var(--gray-800);
  }
}

@media (width <= $breakpoint-mob) {
  .ExploreDesignsSection {
    padding: 0 24rem;

    .left {
      width: 100%;
    }

    h2{
      width: 70%;
    }
  }
}