@import "./src/app/styles/variables";

.becomeDistributor{
  padding: 0.8rem 1.6rem;
  color: $white;
  font: $font-button-m;
  background-color: $primary-color;
  transition: all .2s ease;

  &:hover, &:active {
    background-color: $black;
    cursor: pointer;
  }

  &:disabled {
    color: $gray-700;
    background-color: $gray-400;
    cursor: default;
  }
}