@import '@/app/styles/variables/breackpoints';

.becomeDistributor{
  padding: 8rem 16rem;
  color: var(--white);
  font: var(--font-button-m);
  background-color: var(--primary-color);
  transition: all .2s ease;

  &:hover, &:active {
    background-color: var(--black);
    cursor: pointer;
  }

  &:disabled {
    color: var(--gray-700);
    background-color: var(--gray-400);
    cursor: default;
  }
}

@media (max-width: $breakpoint-mob) {
  .becomeDistributor{
    width: 100%;
    font-size: 13rem;
    line-height: 17rem;
  }
}