@import "../../../../app/styles/variables";

.becomeDistributor{
  padding: 8rem 16rem;
  color: $white;
  font: $font-button-m;
  background-color: $primary-color;
  transition: all .2s ease;

  &:hover, &:active {
    background-color: $black;
    cursor: pointer;
  }

  &:disabled {
    color: $gray-700;
    background-color: $gray-400;
    cursor: default;
  }
}

@media (max-width: $breakpoint-mob) {
  .becomeDistributor{
    width: 100%;
    font-size: 13rem;
    line-height: 17rem;
  }
}