.form{
	position: relative;
	padding-top: 33rem;
	
		&__title{
			margin-bottom: 15rem;
		}
	
		&__subtitle{
			margin-bottom: 15rem;
		}
	
		&__contacts{
			margin-bottom: 25rem;
		}
	
		&__action{
			margin-top: 15rem;
		}
}