.BecomeDistributorSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 545px;
  margin: 0 2.25rem;
  padding: 0 2rem;
  color: var(--white);
  text-align: center;
  background-color:#637392;

  p {
    max-width: 60%;
    padding: 1.5rem 0 2.5rem;
    color: var(--gray-300);
  }
}

@media (width <= 768px) {
  .BecomeDistributorSection{
    margin: 0 1rem;

    p {
      max-width: 100%;
      padding: 2rem 0 3rem;
    }

    button {
      width: 100%;
    }
  }
}