@import "@/app/styles/variables/breackpoints";

.filter{
	position: relative;
	
		&__header{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 12rem;
			
				&::before{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: var(--black);
					opacity: .1;
					content: '';
				}
			
				&_item{
					flex: 1;

						&:nth-child(2){
							text-align: right;
						}
				}
			
				&_label{
					color: var(--gray-700);
					font-size: 12rem;
					transition: opacity var(--hover-duration) var(--ease);
				}
		}
	
		&__options{
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 18rem;
			padding: 16rem 4rem;
		}
	
		&__option{
			position: relative;
			display: flex;
			
				&:hover{
					cursor: pointer;
				}
			
				&_title{
					font-weight: 400;
					font-size: 12rem;
				}
				
				&_label{
					color: var(--gray-800);
				}
		}
	
		&__checkbox{
			position: relative;
			display: flex;
			
				& + *{
					margin-left: 12rem;
				}
			
				&_input{
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;

						&:checked + div{
							background-color: var(--primary-color);
							border-color: var(--primary-color);
							
								svg{
									opacity: 1;
								}
						}
				}
			
				&_icon{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 18rem;
					height: 18rem;
					margin-top: 1rem;
					color: var(--white);
					border: 2rem var(--gray-700) solid;
					border-radius: 4px;
					
						@media (width <= $breakpoint-mob) {
							border-width: 2px;
						}
					
						svg{
							opacity: 0;
						}
				}
		}
	
		&__button{
			padding: 0;
			color: var(--primary-color);
			font-weight: 500;
			font-size: 12rem;
			font-family: var(--font-family-primary);
			text-transform: uppercase;
			text-decoration: underline;
			background-color: transparent;
			border: none;
			transition: color var(--hover-duration) var(--ease);
			
				&[disabled]{
					color: var(--gray-700);
					pointer-events: none;
				}
			
				&:hover{
					color: var(--black);
					cursor: pointer;
				}
		}
	
		&__dropdown{
			width: 100%;
			max-width: 320rem;
			margin: 0 0 0 auto;
		}
	
		&__tags{
			display: flex;
			flex-wrap: wrap;
			gap: 5rem 16rem;
			justify-content: flex-end;
			padding: 24rem 0;
			
				&_item{
					display: inline-flex;
					align-items: center;
					padding: 9rem 13rem;
					font-weight: 400;
					font-size: 12rem;
					font-family: var(--font-family-secondary);
					background-color: var(--gray-300);
					border-radius: 100px;
					
						&:hover{
							cursor: pointer;
						}
				}
			
				&_icon{
					width: 10rem;
					height: 10rem;
					margin-right: 10rem;
					color: var(--primary-color);
				}
		}
}