@import "./src/app/styles/variables";

.FeaturedDesignsSection{
  display: flex;
  flex-direction: column;
  gap: 16rem;
  justify-content: center;
  height: 700px;
  padding: 0 64rem;

  h6 {
    color: $gray-700;
  }
}

.slider{ 
  width: 100%;
  height: 300px;
  background-color: $gray-300;
}

.title{
  display: flex;
  justify-content: space-between;
  padding: 24rem 0 64rem;
}

@media (width <= $breakpoint-mob) {
  .FeaturedDesignsSection{
    padding: 0 24rem;
  }

  .title {
    flex-direction: column;
    gap: 24rem;

    button {
      width: 100%;
    }
  }
}