.Footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 3rem;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 32%) 93.75%);
  background-color: var(--black);
}

.top {
  display: grid; 
  grid-template-areas: 
    "logo nav"
    "info nav"; 
  grid-template-rows: 1fr 1fr; 
  grid-template-columns: 1fr 1fr; 
  gap: 2.5rem;
  width: 100%; 
  padding: 5rem 0;
}

.arrow {
  stroke: var(--primary-color);
}

.logoBlock { 
  grid-area: logo;

  .logo {
    fill: var(--white); 
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
  grid-area: info;
  gap: 1.5rem; 
  color: var(--gray-700); 
  font: var(--font-h4);

  .infoField {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}

.navBlock { 
  display: flex; 
  grid-area: nav;
  gap: 6.5rem; 
  justify-content: flex-end; 
}

.navBlockLeft{
  display: flex;
  gap: 6.5rem;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navTitle {
  color: var(--gray-700);
  font: var(--font-h6);
}

.navItems{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  a {
    color: var(--white);
    font: var(--font-button-m);
    white-space: nowrap;
  }
}


.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  color: var(--gray-800);
  font: var(--font-s);
  border-top: 1px solid var(--gray-800);

  .madeBy{ 
    display: flex;
    align-items: center;
  }

  .presto {
    margin: 0 1rem;
  }

  h6 {
    color: var(--gray-700);
  }
}


@media (width <= 1100px) { 
  .top { 
    grid-template-areas: 
      "logo"
      "nav"
      "info";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .navBlock {
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    padding: 2.5rem 0 4rem;
  } 

  .navBlockLeft {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .socials{
    display: flex;
    flex-direction: row;
    gap: 6.5rem;
  }
}

@media (width <= 768px) {
  .navBlock {
    gap: 6rem;
    padding: 5rem 0 8rem;
  }

  .navList {
    gap: 3rem;
  }

  .navItems {
    gap: 4rem;
  }


  .bottom {
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
    text-align: center;
  }
}