@import "./src/app/styles/variables";

.Footer{
  width: 100%;
  background-color: $black;
  background-image: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 32%) 93.75%);

  &Content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.top {
  display: grid; 
  grid-template-areas: 
    "logo nav"
    "info nav"; 
  grid-template-rows: 1fr 1fr; 
  grid-template-columns: 1fr 1fr; 
  gap: 36rem;
  width: 100%; 
  padding: 50rem 0;
}

.arrow {
  stroke: $primary-color;
}

.logoBlock { 
  grid-area: logo;

  &__logo {
    fill: $white;

    &_mod{
      color: red;
    }
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
  grid-area: info;
  gap: 24rem;
  color: $gray-700;
  font: $font-h4;

  .infoField {
    display: flex;
    gap: 24rem;
    align-items: center;
  }
}

.navBlock { 
  display: flex; 
  grid-area: nav;
  gap: 104rem;
  justify-content: flex-end; 
}

.navBlockLeft{
  display: flex;
  gap: 104rem;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 24rem;
}

.navTitle {
  color: $gray-700;
  font: $font-h6;
}

.navItems{
  display: flex;
  flex-direction: column;
  gap: 32rem;

  a {
    color: $white;
    font: $font-button-m;
    white-space: nowrap;
  }
}


.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32rem 0;
  color: $gray-800;
  font: $font-s;
  border-top: 1px solid $gray-800;

  .madeBy{ 
    display: flex;
    align-items: center;
  }

  .presto {
    margin: 0 16rem;
  }

  h6 {
    color: $gray-700;
  }
}


@media (width <= $breakpoint-mob) {
  .top {
    grid-template-areas:
      "logo"
      "nav"
      "info";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .navBlock {
    flex-direction: column;
    gap: 48rem;
    justify-content: flex-start;
    padding: 40rem 0 64rem;
  }

  .navBlockLeft {
    flex-direction: row-reverse;
    gap: 52rem;
    justify-content: flex-end;
  }

  .socials{
    display: flex;
    flex-direction: row;
    gap: 52rem;
  }

  .navList {
    gap: 24rem;
  }

  .navItems {
    gap: 32rem;
  }

  .bottom {
    flex-direction: column;
    gap: 24rem;
    text-align: center;
  }
}
