.ButtonPrimary {
  padding: 12rem 24rem 12rem 32rem;
}

.buttonContent {
  display: flex;
  gap: 12rem;
  align-items: center;
  justify-content: center;
}

.white {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
}

.outlined {
  color: var(--black);
  background: transparent;
  border: 1px solid var(--black);
}

.white, .outlined {
  .arrow {
    stroke: var(--black);
  }
}

.blue {
  color: var(--white);
  background-color: var(--primary-color);

  .arrow {
    stroke: var(--white);
  }
}

.mini {
  gap: 16rem;
  padding: 0;
  color: var(--primary-color);
  background: none;

  .arrow {
    stroke: var(--primary-color);
  }
}

