.ButtonPrimary {
  padding: 12px 24px 12px 32px;
}

.buttonContent {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.white {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
}

.outlined {
  color: var(--black);
  background: transparent;
  border: 1px solid var(--black);
}

.white, .outlined {
  .arrow {
    stroke: var(--black);
  }
}


.blue {
  color: var(--white);
  background-color: var(--primary-color);

  .arrow {
    stroke: var(--white);
  }
}

.mini {
  gap: 16px;
  padding: 0;
  color: var(--primary-color);
  background: none;

  .arrow {
    stroke: var(--primary-color);
  }
}

