@import "./src/app/styles/variables";

.ButtonPrimary {
  padding: 1.2rem 2.4rem 1.2rem 3.2rem;
}

.buttonContent {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.white {
  color: $black;
  background-color: $white;
  border: 1px solid $black;
}

.outlined {
  color: $black;
  background: transparent;
  border: 1px solid $black;
}

.white, .outlined {
  .arrow {
    stroke: $black;
  }
}

.blue {
  color: $white;
  background-color: $primary-color;

  .arrow {
    stroke: $white;
  }
}

.mini {
  gap: 1.6rem;
  padding: 0;
  color: $primary-color;
  background: none;

  .arrow {
    stroke: $primary-color;
  }
}

