@import '@/app/styles/variables/breackpoints';

.sellSection{
  position: relative;
  height: 100vh;
  padding: 143rem 0 50rem;
  overflow: hidden;
  
  &::before{
    position: absolute;
    top: 10rem;
    right: -49rem;
    width: 1395rem;
    height: 1551rem;
    background-image: url("/images/home/circled_arrow_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1395rem 1551rem;
    content: '';
  }

  &__content{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 112rem;

    .image{
      position: absolute;
      top: 0;
      left: 112rem;
      width: 528rem;
      height: 528rem;
      pointer-events: none;
    }

    &_right{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      max-height: 100%;
      overflow: hidden;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .subtitle{
        margin: 8rem 0 24rem;
        color: var(--gray-700);
      }

      .title{
        margin: 0 0 8rem;
      }

      .description{
        margin: 0 0 20rem;
      }

      .sectionContent{
        max-width: 416rem;
        min-height: 100%;
        padding: 100rem 0 0;
      }
    }
  }
}

@media (width <= $breakpoint-mob) {
  .sellSection{
    margin: 80rem 0;

    &::before{
      display: none;
    }

    &__content{
      flex-direction: column;
      padding: 0;

      &_left{
        margin: 0 0 31rem;

        .image{
          width: 200rem;
          height: 200rem;
        }
      }
    }
  }
}