.BackgroundImage {
  position: relative;

  //background-color: var(--gray-400);

  &__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &_animatedWrapper{
      position: relative;
      width: 100% ;
      height: 100% ;

      .cowerStyle{
        object-fit: cover;
      }
    }
  }
}

.content{
  z-index: 1;
  width: 100%;
  height: 100%;
}